body{
    background-color: #062863;
}

.container{
    background-color: white;
    border-radius: 18px;
    border-bottom-left-radius: 0;
    width: 450px;
    margin: 40px 19% 0 32%;
    height: 440px;
    padding-top: 4px;
    
}

.login{
    color: #0D42A0;
    font-weight: bold;
    text-align: center;
    font-size: 20px;

    
    
    
    
}

.secure{
 margin-top: -17.5px;
 color: #6A7383;
 text-align: center;
 margin-bottom: 22px;

 
}

input{
    background-color: #EDF2F7;
    width: 77%;
    border: none;
    padding: 20px;
    border-radius: 3px;
    margin-left: 20px;
    margin-bottom: 23px;
    
}

button{
    background-color: #0D60D8;
    color: white;
    font-size: medium;
    border-radius: 9px;
    border-bottom-left-radius: 0;
    width: 320px;
    border: none;
    
    margin: 32px 0px 323px 46px;
    padding: 16px 40px 12px;
}

img{
    margin-left: 42%;
    margin-top: 38px;
}

a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 25px;
    font-size: small;
}



label{
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;
}